/* --------------Regular product style start------------ */
.regular-products-section {
    margin-top: 200px;
    text-align: center;
}


.regular-products-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 30px;
}

.regular-products-section-btn {
    margin-top: 84px;
}

/* --------------------------X------------------------ */


@media screen and (max-width:1199px) {
    .regular-products-section {
        margin-top: 150px;
    }

    .regular-products-card {
        gap: 30px 35px;
        width: fit-content;
        margin: 0 auto;
        justify-items: center;
    }

    .products-card {
        padding: 25px 25px;
    }

    .products-img-container {
        width: 160px;
        height: 112px;
    }

    .products-img {
        width: 150px;
    }

    .products-name {
        font-size: 20px;
    }

    .products-price {
        font-size: 14px;
        line-height: 16px;
        margin-top: 8px;
        margin-bottom: 28px;
    }

    .regular-products-section-btn {
        font-size: 14px;
        padding: 16px 20px;
        margin-top: 60px;
    }
}


@media screen and (max-width:991px) {
    .regular-products-section {
        margin-top: 70px;
    }

    .regular-products-card {
        gap: 18px 18px;
    }

    .products-card {
        padding: 14px 25px;
    }

    .products-img-container {
        width: 120px;
    }

    .products-img {
        width: 120px;
    }

    .products-name {
        font-size: 16px;
    }

    .products-price {
        margin-bottom: 22px;
    }

    .regular-products-btn {
        font-size: 12px;
    }

    .regular-products-section-btn {
        padding: 14px 18px;

    }
}


@media screen and (max-width:767px) {
    .regular-products-section {
        margin-top: 100px;
    }

    .regular-products-card {
        grid-template-columns: repeat(3, 1fr);

    }

}


@media screen and (max-width:575px) {
    .regular-products-section {
        margin-top: 70px;
    }

    .regular-products-card {
        gap: 10px 8px;
        margin: 0 auto;
    }

    .products-card {
        padding: 12px 12px;
    }

    .products-img-container {
        width: 60px;
        height: 60px;
    }

    .products-img {
        width: 60px;
    }

    .products-name {
        font-size: 12px;
        line-height: 18px;
        margin-top: 8px;
    }

    .products-price {
        font-size: 10px;
        line-height: 18px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .regular-products-btn {
        font-size: 8px;
        padding: 2px 8px;
    }

    .btn-secondary-icon {
        width: 14px;
    }

    .regular-products-section-btn {
        font-size: 10px;
        padding: 10px 12px;
        margin-top: 30px;
    }

    .regular-products-section-btn img {
        width: 12px;
    }
}


@media screen and (max-width:374px) {
    .regular-products-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .products-card {
        padding: 12px 28px;
    }

    .products-name {
        font-size: 10px;
    }

    .products-price {
        font-size: 9px;
    }
}