@import url('css/Common-Style/common.css');
@import url('css/1.Header/header.css');
@import url('css/1.Header/hamburgerAnimation.css');
@import url('css/2.Hero-Section/hero.css');
@import url('css/3.Category/category.css');
@import url('css/4.About/about.css');
@import url('css/5.Regular-Products/regularProducts.css');
@import url('css/6.Banners/banner.css');

* {
    margin: 0;
}

:root {
    --black: #232424;
    --white: #FFF;
    --green: #004C3F;
    --subtitle-color: #545454;
    --bg-primary: #F6FAF2;
    --bg-secondary: #F9F9F9;
    --banner-bg-1: #FEF4EA;
    --banner-bg-2: #F2F2E6;
    --banner-bg-3: #E6EDF3;
    --banner-bg-4: #E6F2F2;
    --primary-font: 'DM Serif Display', serif;
    --secondary-font: 'Inter', sans-serif;
}