@import url('css/Header/header.css');
@import url('css/Header/hamburgerAnimation.css');

* {
    margin: 0;    
}

:root {
    --black:#232424;
    --white: #FFF;
    --green: #004C3F;
    --primary-font: 'DM Serif Display', serif;
    --secondary-font: 'Inter', sans-serif;
}
