.custom-width {
    max-width: 1200px;
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;

}

.primary-title {
    color: var(--green);
    font-family: var(--primary-font);
    font-size: 46px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.46px;
}

.secondary-title {
    color: var(--black);
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.24px;
}

.subtitle {
    color: var(--subtitle-color);
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    color: var(--white);
    background-color: var(--green);
    font-family: var(--secondary-font);
    font-size: 18px;
    font-weight: 500;
    padding: 20px 24px;
    cursor: pointer;
    border: none;
}

.btn-secondary {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    color: var(--green);
    background-color: #E8EEE4;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.14px;
    padding: 10px 12px;
    cursor: pointer;

}


/* product card style */
.products-card {
    width: fit-content;
    padding: 40px 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: var(--bg-secondary);
}

.products-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 140px;
}

.products-name {
    margin-top: 24px;
}

.products-price {
    line-height: 16px;
    margin-top: 8px;
    margin-bottom: 32px;
}

/* ------X------ */